body {
  font-family: sans-serif;
}
.words {
  padding: 4px;
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
}
.guessContainer {
  display: flex;
}
.guessContainer h2 {
  padding: 4px;
}
.guessedLetters {
  display: flex;
}
.guessedLetters h3 {
  padding: 5px;
  color: red;
}
